<h1 class="text-3xl font-bold text-center text-gray-900 dark:text-white">プロフィール</h1>
<div class="flex items-start justify-center min-h-screen pt-12">
    <div class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center pb-10">
            <%= image_tag @user.avatar.url, class: "w-32 h-32 mb-3 mt-3 rounded-full shadow-lg" if @user.avatar.present? %>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white"><%= @user.name %></h5>
            <span class="text-sm text-gray-500 dark:text-gray-400"><%= @user.profile %></span>
            <br>
            <div>
                <%= video_tag @user.play_video.url, controls: true, class: "w-80 h-64" if @user.play_video.present? %>
            </div>
            <div class="flex mt-4 md:mt-6">
                <% if current_user == @user %>
                    <%= link_to '編集', edit_profile_path(@user), class: 'inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
