<h1 class="text-2xl font-bold text-center mb-10">イベント詳細</h1>

<div class="grid grid-cols-2 gap-4 items-start">
    <div class="card w-96 bg-base-100 shadow-xl image-full mb-20">
        <div class="card-body">
            <h2 class="card-title"><%= @event.title %></h2>
            <p><%= @event.datetime %></p>
            <p><%= @event.content %></p>
            <p><%= @address %></p>
        </div>
    </div>

    <div class="text-center">
        <p>作成者</p>
        <p><%= link_to @event.user.name, profile_path(@event.user), class: "text-blue-500 underline" %></p>
        <p>参加予定人数</p>
        <p><%= @event.user_events.count %></p>
        <% if current_user == @event.user %>
            <%= button_to '編集', edit_event_path(@event), method: :get, class: 'btn btn-primary' %>
            <%= button_to '削除', event_path(@event), method: :delete, class: 'btn btn-danger' %>
        <% elsif current_user.participating_in?(@event) %>
            <%= button_to 'キャンセル', event_user_event_path(@event), method: :delete, class: 'btn btn-danger' %>
        <% else %>
            <%= button_to '参加する', event_user_events_path(@event), method: :post, class: 'btn btn-primary' %>
        <% end %>
        <% if current_user.participating_in?(@event) %>
            <p>結果入力</p>
            <%= button_to '結果入力', new_event_match_result_path(@event), method: :get, class: 'btn btn-primary' %>
        <% end %>
    </div>
</div>
<h1>チャット</h1>
<%= render 'rooms/show', { event: @event, message: @messages } %>


<br>
<div id='map' class='h-96 w-full relative mb-40' data-lat='<%= @event.latitude %>' data-lng='<%= @event.longitude %>'></div>
<%= javascript_include_tag 'application' %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>