<!DOCTYPE html>
<html>

<head>
  <title>BasketSeker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <header class="h-20 flex items-center justify-between sticky top-0 bg-accent z-30">
    <div class="navbar">
      <div class="flex-1">
        <%= link_to  root_path do %>
          <%= image_tag 'logo.png', class: 'm-auto w-32 h-32' %>
        <% end %>
      </div>
      <div class="h-20 flex-none">
        <ul class="menu menu-horizontal px-1">
          <% if user_signed_in? %>
              <%= link_to  destroy_user_session_path, data: { turbo_method: :delete }, class:"p-0" do %>
                <svg class="w-6 h-6 mt-3 mr-3" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="logout"><line class="cls-1" x1="15.92" x2="28.92" y1="16" y2="16"/><path d="M23.93,25v3h-16V4h16V7h2V3a1,1,0,0,0-1-1h-18a1,1,0,0,0-1,1V29a1,1,0,0,0,1,1h18a1,1,0,0,0,1-1V25Z"/><line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="20"/><line class="cls-1" x1="28.92" x2="24.92" y1="16" y2="12"/><line class="cls-1" x1="24.92" x2="24.92" y1="8.09" y2="6.09"/><line class="cls-1" x1="24.92" x2="24.92" y1="26" y2="24"/></g></svg>
              <% end %>
              <%= link_to notifications_path do %>
                <%= image_tag 'bell.png', class: 'news' %>
              <% end %>
          <%else%>
            <%= link_to new_user_session_path do %>
              <svg class="w-6 h-6 mt-3 mr-3" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="login"><line class="cls-1" x1="29" x2="16" y1="16" y2="16"/><path d="M24,25v3H8V4H24V7h2V3a1,1,0,0,0-1-1H7A1,1,0,0,0,6,3V29a1,1,0,0,0,1,1H25a1,1,0,0,0,1-1V25Z"/><line class="cls-1" x1="16" x2="20" y1="16" y2="12"/><line class="cls-1" x1="16" x2="20" y1="16" y2="20"/><line class="cls-1" x1="25" x2="25" y1="8" y2="6"/><line class="cls-1" x1="25" x2="25" y1="26" y2="24"/></g></svg>
            <% end %>
          <%end%>
          <li>
            <div class="drawer drawer-end p-0">
              <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
              <div class="drawer-content">
                <!-- Page content here -->
                <label for="my-drawer-4" class="drawer-button btn btn-square btn-ghost ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="inline-block w-9 h-9 stroke-current">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                    </path>
                  </svg>
                </label>
              </div>
              <div class="drawer-side">
                <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                  <!-- Sidebar content here -->
                  <li><%= link_to "トップページ", root_path, class: "mt-2" %></li>
                  <% if user_signed_in? %>
                    <li><%= link_to "対戦相手を募集する", new_event_path, class: "mt-2" %></li>
                    <li><%= link_to "募集一覧", events_path, class: "mt-2" %></li>
                    <li><%= link_to "ランキング",  match_results_path, class: "mt-2" %></li>
                    <li><%= link_to "マイページ", profile_path, class: "mt-2" %></li>
                    <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "mt-2" %></li>
                  <%else%>
                    <li><%= link_to "ログイン", new_user_session_path, class: "mt-2" %></li>
                  <%end%>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <%= yield %>

  <footer class="fixed bottom-0 w-full footer footer-center p-10 bg-base-200 text-base-content rounded z-20">
    <nav class="grid grid-flow-col gap-4">
      <a class="link link-hover">利用規約</a>
      <a class="link link-hover">プライバシーポリシー</a>
    </nav>
  </footer>

</body>

</html>